<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dive Log</title>
  <link href="https://fonts.googleapis.com/css?family=Manuale|Peddana|Rubik+Mono+One|Sail" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <h1>Your Log Book</h1>
  <% include ../partials/header.ejs %>
  <div class="container">
    <%for (i=0; i<sites.length; i++) {%>
    <div class="single">
      <div class="site-header">
        <h3>
          <%=sites[i].name%>
        </h3>
        <h4>
          <%=sites[i].location%>
        </h4>
        <h5>
          <%=sites[i].date%>
        </h5>
      </div>
      <div class="img">
        <img src="<%=sites[i].img%>" />
      </div>
      <div class="more">
        <a href="/logbook/<%=sites[i].id%>">More Info</a>
      </div>
    </div>
    <%}%>
  </div>
  <!-- <a href="/new">Log Dive</a> -->
</body>

</html>
