<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dive Log</title>
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Rock+Salt|Shrikhand" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Manuale|Peddana|Rubik+Mono+One|Sail" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <header>
  <% include ../partials/header.ejs %>
</header>
<h1>Your Dive Log</h1>
  <div class="container">
    <ul class="countries">
      <li><a style="color: var(--babypowder);" href="/usa">USA dives</a></li>
      <li><a style="color: var(--babypowder);" href="/honduras">Honduras dives</a></li>
    </ul>
    <%for (i=0; i<sites.length; i++) {%>
    <div class="single">
      <div class="site-header">
        <h3 class="name"><a class="name" href="/logbook/<%=sites[i].id%>">
          <%=sites[i].name%></a>
        </h3>
        <h4>
          <%=sites[i].city%>, <%=sites[i].country%>
        </h4>
        <h5>
          <%=sites[i].date%>
        </h5>
      </div>
      <div class="img">
        <img src="<%=sites[i].img%>" />
      </div>
      <div class="rating">
        <hr/>
        <h4 class="rate-text">Rating:</h4> <h3 class="rating"><%=sites[i].rating%>/10</h3>
      </div>
    </div>
    <%}%>
  </div>
  <% include ../partials/footer.ejs %>
</body>

</html>
