<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>
    <%=site.name%>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Rock+Salt|Shrikhand" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Manuale|Peddana|Rubik+Mono+One|Sail" rel="stylesheet">
  <link rel="stylesheet" href="../css/show.css" />
</head>

<body>
  <header>
    <% include ../partials/header.ejs %>
  </header>
  <div class="container">
    <div class="site-header">
      <h1>
        <%=site.name%>
      </h1>
      <h2>
        <%=site.city%>
      </h2>
      <h4>
        <%=site.date%>
      </h4>
    </div>
      <div class="img">
        <img src="<%=site.img%>" />
      </div>
      <div class="site-stats">
      <table cellspacing=0; cellpadding=0; style="width: 100%">
        <tr>
          <th>
            <h5>Dive Buddies:</h5>
          </th>
          <td>
            <p>
              <%=site.buddies%>
            </p>
          </td>
        </tr>
        <tr>
          <th>
            <h5>Weather:</h5>
          </th>
          <td>
            <p>
              <%=site.weather%>
            </p>
          </td>
        </tr>
        <tr>
          <th>
            <h5>Dive Time:</h5>
          </th>
          <td>
            <p>
              <%=site.diveTime%>
            </p>
          </td>
        </tr>
        <tr>
          <th>
            <h5>Air Consumption:</h5>
          </th>
          <td>
            <p>
              <%=site.airConsumption%>
            </p>
          </td>
        </tr>
        <tr>
          <th>
            <h5>Max Depth:</h5>
          </th>
          <td>
            <p>
              <%=site.maxDepth%>
            </p>
          </td>
        </tr>
        <tr>
          <th>
            <h5>Wildlife:</h5>
          </th>
          <td>
            <p>
              <%=site.wildlife%>
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div class="comments">
      <h5>Additional Comments:</h5>
      <p>
        <%=site.additionalComments%>
      </p>
      <h5>Rating (0-10):</h5>
      <p class="rate">
        <%=site.rating%>
      </p>
    </div>
  </div>
  <%if (currentUser) {%>
  <div class="buttons">
  <button class="button"><a class="submit" href="/logbook/<%=site.id%>/edit">Edit Dive</a></button>
  <form action="/<%=site.id%>?_method=DELETE" method="POST">
    <button><input class="button" type="submit" value="Delete Dive"></button>
  </form>
</div>
<%}%>
<% include ../partials/footer.ejs %>
</body>

</html>
